{% extends 'base.html' %}

{% block title %} <title>文章详情</title> {% endblock %}

{% block  myjs %}
<script src="../../static/tinymce/tinymce.min.js"></script>
{# 载入富文本编辑器 #}
<script>
	tinymce.init({
		selector: '#comment',
		content_style: "img {max-width:100%;}",
		language:'zh_CN',
		// width: 300,
		height: 500,
		plugins : [
			'emoticons',
			'advlist',
			'preview',
			'searchreplace',
			'wordcount',
			'ax_wordlimit',
			'table',
			'autolink',
			'toc',
			'visualblocks',
			'autosave',
			'link',
			'image',
			'hr',
			'insertdatetime',
			'lists',
			'preview',
			'code',
			'codesample'
			], 
		ax_wordlimit_num: 2000,
		ax_wordlimit_delay: 500,
		ax_wordlimit_callback: function(editor,txt,num){ editor.execCommand('undo'); },
		inline: false,
		toolbar: true,
		contextmenu: "bold copy ",
		resize: 'both',
		branding: false,
	});

</script>

{% endblock %}


{%  block content %} 
<div class="container">
    <div class="row">
        <div class="col-md-10"> 
            {# 标题 #}
            <div class="col-md-12">
                <h2>{{ article.article_title }}</h2>
                <br />
            </div>
            {# 文章信息 #}
            
            <div class="col-md-12">
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span><span>{{ article.create_time }}</span>&nbsp;&nbsp;
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span><span>: <strong>{{ article.user.username}}</strong></span>&nbsp;&nbsp;
                {#点赞量#}
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span><span>: {{ article.thumbs_up }}</span>&nbsp;&nbsp;
                {#收藏量#}
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true" {% if user %} tag="{{ user.id }}" {% endif %} {% if g.save %}style="color:red" {% endif %}></span>:<span>{{ favorites_num }}</span>&nbsp;&nbsp;
                {#浏览量#}
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><span>: {{ article.views }}</span>&nbsp;&nbsp; 
                {#评论量#}
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span><span><a href="#comments">评论</a>: {{ comments_num }}</span>&nbsp;&nbsp;
                <hr style="margin-top: 0;">
            </div>		
                    
            {# 文章内容 #}
            <div class="col-md-12">
                <p>
                    {{ article.content|safe }}
                </p>
            </div>
            
            {# 评论 #}
            <div class="col-md-12" id="comments">
                <hr />
                评论:
                <hr />
            </div>
            
            {# 发表评论 #}
            <div class="col-md-12">
                <div class="col-md-2"><h4>发布评论:</h4></div> 
                <div class="col-md-10"><h5>愿您的每句评论，都能给大家的生活添色彩，带来共鸣，带来思索，带来快乐</h5></div>
                
                {# 发布评论内容 #}
                <div class="col-md-12">
                    <textarea name="" id="comment"  placeholder="快来发布评论吧,255字以内"></textarea>
                </div>

                <div class="col-md-12" margin-bottom="100px">
                    <br />
                    <button class="btn btn-success">发布评论</button> &nbsp;&nbsp; <a class="btn btn-primary" href="{{url_for('article.articles')}}">返回首页</a>
                    <hr />
                </div>
                
            </div>
            
            
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}  
<script>
// 点赞操作
$(function() {
    $('.glyphicon-thumbs-up').click(function(){
        // 获取点击对象本身
        let $this = $(this);

        $.get('{{ url_for('article.thumbs') }}',{aid:{{article.id}}}, function (data){
                console.log(data);
                if (data.code == 200){
                    $this.next('span').text(data.num);
                }else{
                    $this.next('span').text(data.msg);
                }
            });
    });
});

// 收藏操作
$(function() {
    $('.glyphicon-star-empty').click(function(){
        // 获取点击对象本身
        let $this = $(this);
        let issave = $this.attr('save');
        console.log(issave);
        // 根据属性判断登陆状态
        if ($this.attr('tag')){
            $.get('{{ url_for('article.favorites') }}',{aid:{{ article.id }}}, function (data){
                console.log(data);
                if (data.code == 200 && data.islove == 1){

                    $this.next('span').text(data.num);
                    // $this.attr('save',1);
                    $this.css('color','red');
                }else{
                    $this.next('span').text(data.num);
                   // $this.attr('save',0);
                    $this.css('color','');
                }
            })
        }else{
            // 未登录提示
            let islogin = confirm('你还未登陆,请登录后再操作');
            if (islogin){
                // 跳转到登录页面
                location.href = '{{ url_for("user.login") }}';
            }
        }

    })
});


</script>

{% endblock %}
