{% extends 'base.html' %}
{% block title %} <title>编辑用户</title> {% endblock %}
{% block content %} 
  <div class="container">
  	<div class="row">
  		<form class="form-horizontal" action="{{ url_for('user.update') }}" method="post">
			  {{ form.csrf_token }}
			  {{ form.hiddens }}
			<div class="form-group">
				<div class="col-md-offset-2  col-md-3" style="text-align: center;">
				  <h2>修改用户</h2>
				</div>
			</div>
			
  		  <div class="form-group">
  			<label for="username" class="col-md-2 control-label">* 用户名: </label>
  			<div class="col-md-3">
				  {{ form.username(class="form-control",placeholder='请输入用户名')  }} 
				  {# 验证未通过 #}
				  {% if form.username.errors %}<span style="color:red">{{ form.username.errors[0]}}</span>{% endif %}
  			</div>
  		  </div>
  		  

  		  <div class="form-group">
  			<label for="email" class="col-md-2 control-label">* 邮箱: </label>
  			<div class="col-md-3">
  			  {{ form.email(class="form-control",placeholder='请输入邮箱')  }} 
				{# 验证未通过 #}
			  {% if form.email.errors %}<span style="color:red">{{ form.email.errors[0]}}</span>{% endif %}
  			</div>
  		  </div>
  
  		  <div class="form-group">
  			<label for="phone" class="col-md-2 control-label">* 手机: </label>
  			<div class="col-md-3">
				{{ form.phone(class="form-control",placeholder='请输入手机号')  }} 
				{# 验证未通过 #}
				{% if form.phone.errors %}<span style="color:red">{{ form.phone.errors[0]}}</span>{% endif %}
  			</div>
  		  </div>

		{# 超级管理员有权限查看 #}
		{% if g.user.is_root == True %}
		<div class="form-group">
			<label for="is_root" class="col-md-2 control-label">用户权限: </label>
			<div class="col-md-3">
				<input name="role" value="0" type="radio" {% if edituser.is_root == False and edituser.is_admin == False %} checked="checked" {% endif %}> 普通用户&nbsp;&nbsp;
				<input name="role" value="1" type="radio" {% if edituser.is_admin %} checked="checked" {% endif %}> 管理员&nbsp;&nbsp;
				<input name="role" value="2" type="radio" {% if edituser.is_root %} checked="checked" {% endif %}> 超级管理员&nbsp;&nbsp;
			</div>
		</div>
		{% endif %}

		{# 是否允许登录 #}
		<div class="form-group">
			<label for="allow_login" class="col-md-2 control-label">是否允许登录: </label>
			<div class="col-md-3">
				<input name="allow_login" value="1" type="radio" {% if edituser.allow_login == True %} checked="checked" {%  endif %}> 允许&nbsp;&nbsp;
				<input name="allow_login" value="0" type="radio" {% if edituser.allow_login == False %} checked="checked" {%  endif %}> 不允许&nbsp;&nbsp;
			</div>
		</div>

  		<div class="form-group">
  			<div class="col-md-offset-2 col-md-4">
  			  <button type="submit" class="btn btn-default">确认修改</button>
                {# 打印闪现内容 #}
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category,message in messages %}
                    {% if category == 'info' %}
                    <span style="color:green; font-size:10px; font-weight:bold">{{ message }}</span>
                    {% elif category == 'error' %}
                    <span style="color:red; font-size:10px; font-weight:bold">{{ message }}</span>
                    {% endif %}
                {% endfor %}
            
                {% endif %}
                {% endwith %}
  			</div>
  		  </div>
  		</form>
  
  	</div>
  	
  </div>

{% endblock %}

